In [1]:
stuff = input()
if stuff == 'SPATHIPHYLLUM':
    print("Yes - spathiphyllum is the best plant ever!")
elif stuff == 'spathiphyllum':
    print("No, I want a big spathiphyllum!")
else:
    print("spathiphyllum! Not", stuff)

 g

spathiphyllum! Not g

In [2]:
list1 = [1, 2, 3, 4, 5,6, 7, 8, 9, 10, 11, 12,]

In [3]:
for num in list1:
    if num % 2 == 0:
        print(num)
    else:
        print("odd number")

odd number
2
odd number
4
odd number
6
odd number
8
odd number
10
odd number
12

In [4]:
list2 = ['car', 'dog', 'key']

In [5]:
for words in list2:
    print(words)

car
dog
key

In [6]:
list_sum = 0

for num in list1:
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55
66
78

In [7]:
list_sum = 0

for num in list1:
    list_sum += num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55
66
78

In [8]:
for a in 'This is my car.':
    print(a)

T
h
i
s

i
s

m
y

c
a
r
.

In [9]:
tup = (1, 2, 3, 4, 5)
for num in tup:
    print(num)

1
2
3
4
5

In [10]:
list3 = [(1,2,3), (4,5,6), (7,8,9)]

In [11]:
for pop in list3:
    print(pop)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [12]:
for (t1, t2, t3) in list3:
    print(t1)

1
4
7

In [13]:
d = {'k1':1, 'k2':2, 'k3':3}

In [14]:
for item in d:
    print(item)

k1
k2
k3

In [15]:
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [16]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [17]:
d.values()

dict_values([1, 2, 3])

In [18]:
for a,b in d.items():
    print(a)
    print(b)

k1
1
k2
2
k3
3

In [19]:
list(d.keys())

['k1', 'k2', 'k3']

In [20]:
sorted(d.values())

[1, 2, 3]

In [21]:
sorted(d.keys())

['k1', 'k2', 'k3']

In [135]:
x = 0
while x < 10:
    print('x is currently: ', x)
    print('x is still less than 10, adding 1 to x')
    x+=1

x is currently:  0
x is still less than 10, adding 1 to x
x is currently:  1
x is still less than 10, adding 1 to x
x is currently:  2
x is still less than 10, adding 1 to x
x is currently:  3
x is still less than 10, adding 1 to x
x is currently:  4
x is still less than 10, adding 1 to x
x is currently:  5
x is still less than 10, adding 1 to x
x is currently:  6
x is still less than 10, adding 1 to x
x is currently:  7
x is still less than 10, adding 1 to x
x is currently:  8
x is still less than 10, adding 1 to x
x is currently:  9
x is still less than 10, adding 1 to x

In [23]:
x = 0
while x < 5:
    print('x is currently: ', x)
    print(' x is still less than 5, adding 1 to x')
    x+=1

x is currently:  0
 x is still less than 5, adding 1 to x
x is currently:  1
 x is still less than 5, adding 1 to x
x is currently:  2
 x is still less than 5, adding 1 to x
x is currently:  3
 x is still less than 5, adding 1 to x
x is currently:  4
 x is still less than 5, adding 1 to x

In [24]:
x = 0
while x < 10:
    print("x is currently:", x)
    print(" x is still less than 8, adding 2 to x")
    x+=2
else:
    print("done!")

x is currently: 0
 x is still less than 8, adding 2 to x
x is currently: 2
 x is still less than 8, adding 2 to x
x is currently: 4
 x is still less than 8, adding 2 to x
x is currently: 6
 x is still less than 8, adding 2 to x
x is currently: 8
 x is still less than 8, adding 2 to x
done!

In [25]:
x = 0
while x < 5:
    print('x is currently: ',x)
    print(' x is still less than 5, adding 1 to x')
    x+=1
    if x==3:
        print('x==3')
    else:
        print('contiinuing...')
        continue

x is currently:  0
 x is still less than 5, adding 1 to x
contiinuing...
x is currently:  1
 x is still less than 5, adding 1 to x
contiinuing...
x is currently:  2
 x is still less than 5, adding 1 to x
x==3
x is currently:  3
 x is still less than 5, adding 1 to x
contiinuing...
x is currently:  4
 x is still less than 5, adding 1 to x
contiinuing...

In [26]:
x = 0

while x < 5:
    print('x is currently: ',x)
    print(' x is still less than 5, adding 1 to x')
    x+=1
    if x==4:
        print('breaking because x==4')
        break
    else:
        print('continuing...')
        continue

x is currently:  0
 x is still less than 5, adding 1 to x
continuing...
x is currently:  1
 x is still less than 5, adding 1 to x
continuing...
x is currently:  2
 x is still less than 5, adding 1 to x
continuing...
x is currently:  3
 x is still less than 5, adding 1 to x
breaking because x==4

In [78]:
s = 'standardization'
for i in s:
    print(i, end=' ')

s t a n d a r d i z a t i o n

In [28]:
s = 'standardization'
for i in s:
    print(s, end='*')

standardization*standardization*standardization*standardization*standardization*standardization*standardization*standardization*standardization*standardization*standardization*standardization*standardization*standardization*standardization*

In [29]:
list_num = [20,25,10,50,45]
sum = 0
for i in list_num:
    sum = sum + i
print("sum =", sum)
print("Average =", sum/len(list_num))

sum = 150
Average = 30.0

In [137]:
a = 0
while a < 12:
    print(a, "times 2 is", a*2)
    a+=1

0 times 2 is 0
1 times 2 is 2
2 times 2 is 4
3 times 2 is 6
4 times 2 is 8
5 times 2 is 10
6 times 2 is 12
7 times 2 is 14
8 times 2 is 16
9 times 2 is 18
10 times 2 is 20
11 times 2 is 22

In [31]:
for i in range (1, 5, 2):
    g = i*3
    print(i, 'times 3 is', g)

1 times 3 is 3
3 times 3 is 9

In [32]:
for i in range (1, 5, 2):
    print(i)

1
3

In [33]:
for i in range (1, 10, 2):
    g = i**2
    print(g)

1
9
25
49
81

In [34]:
print('The square of the odd number betweeen 1 and 10 is:')
for i in range (1, 10, 2):
    i = i**2
    print(i)

The square of the odd number betweeen 1 and 10 is:
1
9
25
49
81

In [35]:
for i in range (1,10):
    if i % 2 == 1:
        a = i**2
        print(i, "raised to the power of 2 is", a)

1 raised to the power of 2 is 1
3 raised to the power of 2 is 9
5 raised to the power of 2 is 25
7 raised to the power of 2 is 49
9 raised to the power of 2 is 81

In [36]:
largest_number = -999999999

number = int(input("Enter a number or type -1 to stop: "))

while number != -1:
    if number > largest_number:
        largest_number = number
    number = int(input("Enter a number or type -1 to stop: "))

print("The largest number is:", largest_number)

Enter a number or type -1 to stop:  5
Enter a number or type -1 to stop:  7
Enter a number or type -1 to stop:  7
Enter a number or type -1 to stop:  -1

The largest number is: 7

In [37]:
a = 2
for i in range(2,13):
    print(i*a)
    a+=1

4
9
16
25
36
49
64
81
100
121
144

In [38]:
a = int(input('Enter the number '))
for i in range(1,13):
    mul = a*i
    print(a,"*",i,"=",mul)

Enter the number  4

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
4 * 11 = 44
4 * 12 = 48

In [39]:
a = 2
for i in range(1,13):
    g = a*i
    print(a,"*",i,"=",g)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
2 * 11 = 22
2 * 12 = 24

In [40]:
comp = ['Google', 'Apple', 'Microsoft', 'Meta']
for i in comp:
    print('Display each letter of '+i)
    for letter in i:
        print(letter)

Display each letter of Google
G
o
o
g
l
e
Display each letter of Apple
A
p
p
l
e
Display each letter of Microsoft
M
i
c
r
o
s
o
f
t
Display each letter of Meta
M
e
t
a

In [41]:
for i in range(0,10,3):
     print(i)
else:
    print("Loop has been completely executed")

0
3
6
9
Loop has been completely executed

In [42]:
for i in range(1,10):
    if (i==7):
        break
    print(i)

1
2
3
4
5
6

In [43]:
for i in range(1,10):
    if (i==6):
        continue
    print(i)

1
2
3
4
5
7
8
9

In [44]:
player_name = 'messi'
goals = {'Edison':15,'Bernat':12,'Carmelo':14,'messi':21}

for player in goals:
    if player == player_name:
        print(goals[player])
        break
else:
    print('player not found')

21

In [45]:
n = int(input())

 7

In [1]:
secret_number = 77

num = int(input())
while num != secret_number:
    print("Ha ha! You're stuck in my loop!")
    num = int(input())
else:
    print("Well done, muggle! You are free now.")

 13

Ha ha! You're stuck in my loop!

 15

Ha ha! You're stuck in my loop!

 65

Ha ha! You're stuck in my loop!

 98

Ha ha! You're stuck in my loop!

 77

Well done, muggle! You are free now.

In [34]:
secret_word = 'chupacabra'

word = input()
while word != secret_word:
    word = input()
else:
    print("You've successfully left the loop.")

 cat
 chupacabra

You've successfully left the loop.

In [59]:
num = [2,5,7,4,8,6]
cube = []
for i in num:
    cube.append(i**3)
print(cube)

[8, 125, 343, 64, 512, 216]

In [69]:
num = [2,5,7,4,8,6]
cube = []
for i in num:
    cube.insert(0, i**3)
print(cube)

[216, 512, 64, 343, 125, 8]

In [ ]:
n = int(input("Enter a number of rows "))
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print()

In [ ]:
while True:
    print("Enter your name")
    name = input()
    if name in ('Tom','Sam','Jerry','Dan'):
        break
print('Name Authenticated.')

In [ ]:
# finding L.C.M of numbers
x = 0
while True:
    x = x + 1
    if not(x % 4 or x % 9):
        break
print("The L.C.M of 4 and 9 is", x)

In [27]:
user_word = input()
user_word = user_word.upper()
for letter in user_word:
    if letter in ('A','E','I','O','U'):
        continue
    print(letter)

 abstemious

B
S
T
M
S

In [ ]:
blocks = int(input("Enter the number of blocks: "))

In [42]:
x = [1,3,5,7,9]
print(x.pop(2))
print(x)

5
[1, 3, 7, 9]

In [58]:
p = [1,3,5,7,9]
while p:
    print(p.pop())
else:
    print('No more elements in the list')

9
7
5
3
1
No more elements in the list

In [143]:
p = [1,3,5,7,9]
while p:
    print(p.pop())
else:
    print('No more elements in the list')

9
7
5
3
1
No more elements in the list

In [62]:
p

[]

In [70]:
num = 0
count = 0
sum = 0

while num >= 0:
    num = int(input('Enter a positive number '))
    if num >= 0:
        count+=1
        sum+=num
avg = sum/count
print('sum:', sum) 
print('Average:', avg)

Enter a positive number  24
Enter a positive number  14
Enter a positive number  -1

sum: 38
Average: 19.0

In [93]:
color = ['red', 'green', 'blue']
items = ['apple', 'veggies', 'spices']
for a in color:
    for b in items:
        print(a,b)
    print('')

red apple
red veggies
red spices

green apple
green veggies
green spices

blue apple
blue veggies
blue spices

In [99]:
list1 = [10,25,30]
list2 = [60,15,50]
result = []
for i in list1:
    for j in list2:
        result.append(i+j)
    print(result)

[70, 25, 60]
[70, 25, 60, 85, 40, 75]
[70, 25, 60, 85, 40, 75, 90, 45, 80]

In [101]:
list1 = [2,4,6]
list2 = [1,3,5]
for i in list1:
    for j in list2:
        if i==j:
            continue
        print(i, "*", j, "=", i*j)

2 * 1 = 2
2 * 3 = 6
2 * 5 = 10
4 * 1 = 4
4 * 3 = 12
4 * 5 = 20
6 * 1 = 6
6 * 3 = 18
6 * 5 = 30

In [23]:
list_1 = [1,2,3]
del list_1[1]
print(list_1)

[1, 3]

In [65]:
my_list = [10, 8, 6, 4, 2]
del my_list[1:4]
print(my_list)

[10, 2]

In [33]:
my_list = [14, 3, 21, 5, 1, 9, 7, 15, 13]
largest = my_list[0]

for i in range(1, len(my_list)):
    if my_list[i] > largest:
        largest = my_list[i]

print(largest)

21

In [37]:
my_list = [14, 3, 21, 5, 1, 9, 7, 15, 13]
largest = my_list[0]
for i in my_list:
    if i > largest:
        largest = i 
print("largest number is", largest)

largest number is 21

In [43]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
to_find = 14
found = False

for i in range(len(my_list)):
    found = my_list[i] == to_find
    if found:
        break

if found:
    print("Element found at index", i)
else:
    print("absent")

absent

In [45]:
drawn = [5, 11, 9, 42, 3, 49]
bets = [3, 7, 11, 42, 34, 49]
hits = 0

for number in bets:
    if number in drawn:
        hits += 1

print(hits)

4

In [57]:
colors = ['red', 'green', 'orange', 'apple']
copy_part_colors = colors[-2:]
print(copy_part_colors)

['orange', 'apple']

In [61]:
list_1 = ["A", "B", "C"]
list_2 = list_1
list_3 = list_2

del list_1[0]
del list_2

print(list_3)

['B', 'C']

In [67]:
row = []

for i in range(8):
    row.append(WHITE_PAWN)

NameError: name 'WHITE_PAWN' is not defined

In [ ]:
row = [WHITE_PAWN for i in range(8)]

In [83]:
cubes = [x ** 3 for x in range(10)]
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [87]:
even = [x for x in cubes if x % 2 == 0 ]
print(even)

[0, 8, 64, 216, 512]

In [89]:
squares = [x ** 2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [91]:
odds = [x for x in squares if x % 2 != 0 ]
print(odds)

[1, 9, 25, 49, 81]

In [15]:
board = []
EMPTY = "*"
for i in range(8):
    row = [EMPTY for i in range(8)]
    board.append(row)

In [19]:
list1 = ['a','b','c','d','e','f','g','h']
print(list1[:-1])

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [25]:
list1 = [1,2,3,4,5,6,7,8]
print(list1[1:4])

[2, 3, 4]

In [29]:
board = [[EMPTY for i in range(8)] for j in range(8)]

In [7]:
EMPTY = "-"
ROOK = "ROOK"
KNIGHT = " KNIGHT"
pawn = "PAWN"
board = []

for i in range(8):
    row = [EMPTY for i in range(8)]
    board.append(row)

board[0][0] = ROOK
board[0][7] = ROOK
board[7][0] = ROOK
board[7][7] = ROOK
board[4][2] = KNIGHT
board[3][4] = pawn
print(board)

[['ROOK', '-', '-', '-', '-', '-', '-', 'ROOK'], ['-', '-', '-', '-', '-', '-', '-', '-'], ['-', '-', '-', '-', '-', '-', '-', '-'], ['-', '-', '-', '-', 'PAWN', '-', '-', '-'], ['-', '-', ' KNIGHT', '-', '-', '-', '-', '-'], ['-', '-', '-', '-', '-', '-', '-', '-'], ['-', '-', '-', '-', '-', '-', '-', '-'], ['ROOK', '-', '-', '-', '-', '-', '-', 'ROOK']]

In [11]:
x = 505
y = 500 + 5
print(x,y)

505 505

In [13]:
id(x)

2507170069392

In [15]:
id(y)

2507170069456

In [35]:
a = [5,6,3,7,1,9]
b = [4, 'python', 2,7, 'tutorial', 9]
print(a,b)

[5, 6, 3, 7, 1, 9] [4, 'python', 2, 7, 'tutorial', 9]

In [19]:
4 in b

True

In [29]:
1 in b or 1 in a

True

In [37]:
x = {1:'nigeria', 2:'USA'}

In [55]:
'USA' in x.values()

True

In [45]:
2 in x

True

In [53]:
'nigeria' in x.values()

True

In [49]:
1 in x

True

In [75]:
n_letters = []
for letter in 'pythonprogramming':
    n_letters.append(letter)
print(n_letters)

['p', 'y', 't', 'h', 'o', 'n', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g']

In [77]:
n_letters = [letter for letter in 'pythonprogramming']
print(n_letters)

['p', 'y', 't', 'h', 'o', 'n', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g']

In [83]:
print(n_letters)

['p', 'y', 't', 'h', 'o', 'n', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g']

In [93]:
cars = ['Jaguar', 'Land Rover', 'Tesla', 'Toyota']
newlist = []
for b in cars:
    if 'o' in b:
        newlist.append(b)
print(newlist)

['Land Rover', 'Toyota']

In [105]:
cars = ['Jaguar', 'Land Rover', 'Tesla', 'Toyota', 'Mercedes']
newlist = [b for b in cars if 'e' in b]  
print(newlist)

['Land Rover', 'Tesla', 'Mercedes']

In [119]:
num = [1,2,3,4,5]
for i in range(3):
    print(num)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [9]:
a = [1,2,3,4,5]
b = a[-4:-2]
print(b)

[2, 3]

In [154]:
t1 = [1,2]
t1.append(3)
t1

[1, 2, 3]

In [7]:
my_list = [1,2,3]
for v in my_list:
    print(v)

1
2
3

In [6]:
x = 0
while x < 10:
    for i in x:
        print(i)
        x+=1
        print('#')

TypeError: 'int' object is not iterable

In [18]:
def message():
    print("Enter a value: ")
print("We start here.")
message()
print("We end here.")

We start here.
Enter a value:
We end here.

In [20]:
def message():
    print("Enter a value: ")

message()
a = int(input())
message()
b = int(input())
message()
c = int(input())

Enter a value:

 4

Enter a value:

 3

Enter a value:

 2

In [34]:
def hello(name):    # defining a function
    print("Hello,", name)    # body of the function


name = input("Enter your name: ")

hello(name)

Enter your name:  sam

Hello, sam

In [30]:
type(name)

str

In [38]:
def message(number):
    print("Enter a number:", number)

number = 505
message(2)
print(number)

Enter a number: 2
505

In [46]:
def message(what, number):
    print("Enter", what, "number", number)

message("telephone", 11)
message("price", 5)
message("number", 12)

Enter telephone number 11
Enter price number 5
Enter number number 12