In [ ]:
x = abs(-12.34)
x

In [ ]:
list1 = [2,4,6,8,10]
print(sum(list1))

In [ ]:
list1 = sum([2,4,6,8,10])
list1

In [ ]:
s8 = max(23,45,89)
s8

In [ ]:
a1 = pow(3,6)
print(a1)

In [ ]:
help(min)

In [ ]:
x = range(5)
for n in x:
    print(n)
    print("#")

In [ ]:
p = round(4.543678,4)
print(p)

In [ ]:
p = round(4.543678,1)
print(p)

In [ ]:
p = round(4.543678)
print(p)

In [ ]:
a = [23,45,37]
b = sorted(a,reverse=False)
print(b)

In [ ]:
a = [23,45,37]
b = sorted(a,reverse=True)
print(b)

In [ ]:
a = [23,45,37]
b = sorted(a)
print(b)

In [ ]:
a = [23,45,37]
a.sort()
print(a)

In [44]:
a = ('s', 'i', 'm', 'p', 'l', 'i', 'f', 'y')
x = slice(5)
print(a[x])

('s', 'i', 'm', 'p', 'l')

In [46]:
def my_function(a, b, c):
    print(a, b, c)

my_function(1, 7, 2)

1 7 2

In [50]:
def introduction(first_name, last_name = 'paul'):
    print("Hello, my name is", first_name, last_name)

introduction("Luke", "Skywalker")
introduction("Jesse")
introduction("Clark", "Kent")

Hello, my name is Luke Skywalker
Hello, my name is Jesse paul
Hello, my name is Clark Kent

In [54]:
def adding(a, b):
    print(a, "+", b, "=", a + b)
adding(a = 9, b = 2)

9 + 2 = 11

In [56]:
def adding(a, b, c):
    print(a, "+", b, "+", c, "=", a + b + c)
adding(1,2,3)

1 + 2 + 3 = 6

In [62]:
def introduction(first_name, last_name="Smith"):
    print("Hello, my name is", first_name, last_name)
introduction("willian")

Hello, my name is willian Smith

In [66]:
def introduction(first_name="John", last_name="Smith"):
    print("Hello, my name is", first_name, last_name)
introduction()

Hello, my name is John Smith

In [68]:
def hi_all(name_1, name_2):
    print("Hi,", name_2)
    print("Hi,", name_1)

hi_all("Sebastian", "Konrad")

Hi, Konrad
Hi, Sebastian

In [ ]:
def introduction(first_name="John", last_name="Smith"):
    print("Hello, my name is", first_name, last_name)
introduction(last_name='sammy')

In [80]:
def subtra(a, b):
    print(a - b)

subtra(5,4)

1

In [ ]:
def add_numbers(a, b=2, c):
    print(a + b + c)

add_numbers(a=1, c=3)

In [ ]:
def add_numbers(a, c, b=2):
    print(a + b + c)

add_numbers(a=1, c=3)

In [94]:
def happy_new_year(wishes = True):
    print("Three...")
    print("Two...")
    print("One...")
    if not wishes:
        return 123
happy_new_year()   
print("Happy New Year!")

Three...
Two...
One...
Happy New Year!

In [88]:
happy_new_year(wishes = True)

Three...
Two...
One...

In [110]:
def happy_new_year(wishes = False):
    print("Three...")
    print("Two...")
    print("One...")
    if not wishes:
        return 'hippy'
    
print("Happy New Year!")

Happy New Year!

In [112]:
happy_new_year(wishes = False)

Three...
Two...
One...

'hippy'

In [114]:
value = None
if value is None:
    print("Sorry, you don't carry any value")

Sorry, you don't carry any value

In [ ]:
def list_sum(lst):
    s = 0
    
    for elem in lst:
        s += elem
    
    return s
print(list_sum([3,5,7]))

In [ ]:
def list_sum(lst):
    s = 0
    
    for elem in lst:
        s += elem
print(list_sum([3,5,7]))

In [ ]:
def num_list(p):
    num = []
    for i in range(0,p):
        num.append(i)
    return num
print(num_list(5))

In [ ]:
def num_list(p):
    num = []
    for i in range(0,p):
        num.insert(0,i)
    return num
print(num_list(5))

In [116]:
def is_year_leap(year):
    test_data = [1900, 2000, 2016, 1987]
    test_results = [False, True, True, False]
for i in range(len(test_data)):
        yr = test_data[i]
        print(yr,"->",end="")
        result = is_year_leap(yr)
        if result == test_results[i]:
            print("OK")
        else:
            print("Failed")

NameError: name 'test_data' is not defined

In [ ]:
def is_year_leap(year):
test_data = [1900, 2000, 2016, 1987]
test_results = [False, True, True, False]
for i in range(len(test_data)):
	yr = test_data[i]
	print(yr,"->",end="")
	result = is_year_leap(yr)
	if result == test_results[i]:
		print("OK")
	else:
		print("Failed")

In [ ]:
def my_function():
    var = 2
    print("Do I know that variable?", var)
var = 1
my_function()
print(var)

In [ ]:
def my_name():
    nam = input("Enter your name: ")
    print("Your name is " + nam)

In [ ]:
my_name()

In [ ]:
def m_to_cm(m):
    centimeter = m * 100
    return centimeter

In [ ]:
m_to_cm(1.08)

In [ ]:
def ft_to_cm(ft):
    centimeter = ft * 30.48
    return centimeter
ft_to_cm(6)

In [ ]:
def names(fname, lname, sex='M'):
    print('sex is', M, 'name is', fname, lname)
people_in_school = names()
people_in_school = ('james', 'esther', 'male')

In [ ]:
def create_list(n):
    my_list = []
    for i in range(n):
        my_list.append(i)
    return my_list

print(create_list(5))

In [ ]:
def create_list(n):
    my_list = []
    for i in range(n):
        my_list.append(i)
    return my_list
print(create_list(5))

In [ ]:
def hi_everybody(my_list):
    for name in my_list:
        print("Hi,", name)

hi_everybody(["Adam", "John", "Lucy"])

In [ ]:
def hi():
    print("Hi!")
    return
hi()

In [ ]:
def hi():
    return
    print("Hi!")

hi()

In [ ]:
def my_function():
    global var
    var = 8
    print("Do I know that variable?", var)


var = 1
my_function()
print(var)

In [ ]:
def my_function(my_list_1):
    print("Print #1:", my_list_1)
    print("Print #2:", my_list_2)
    my_list_1 = [0, 1]
    print("Print #3:", my_list_1)
    print("Print #4:", my_list_2)


my_list_2 = [2, 3]
my_function(my_list_2)
print("Print #5:", my_list_2)

In [ ]:
def my_function(my_list_1):
    print("Print #1:", my_list_1)
    print("Print #2:", my_list_2)
    del my_list_2[0]  # Pay attention to this line.
    print("Print #3:", my_list_1)
    print("Print #4:", my_list_2)


my_list_2 = [2, 3]
my_function(my_list_2)
print("Print #5:", my_list_2)

In [ ]:
def my_function(n):
    print("I got", n)
    n += 1
    print("I have", n)
    n += 1
    print("I want", n)
pop = 2
var = 1
my_function(pop)
print(var)

In [ ]:
var = 2


def mult_by_var(x):
    return x * var


print(mult_by_var(7))    # outputs: 14

In [ ]:
a = 1


def fun():
    global a
    a = 2
    print(a)


fun()
a = 6
print(a)

In [ ]:
def kg_to_g(kg):
    return kg * 1000
kg = int(input())
print(int(kg_to_g(kg)))

In [118]:
def ft_and_inch_to_m(ft, inch = 0.0):
    return ft * 0.3048 + inch * 0.0254


def lb_to_kg(lb):
    return lb * 0.45359237


def bmi(weight, height):
    if height < 1.0 or height > 2.5 or weight < 20 or weight > 200:
        return None
    
    return weight / height ** 2


print(bmi(weight = lb_to_kg(176), height = ft_and_inch_to_m(5, 7)))

27.565214082533313

In [ ]:
def is_a_triangle(a, b, c):
    if a + b <= c or b + c <= a or c + a <= b:
        return False
    
    return True
print(is_a_triangle(1, 1, 1))
print(is_a_triangle(1, 1, 3))

In [ ]:
def is_a_triangle(a, b, c):
    return a + b > c and b + c > a and c + a > b


print(is_a_triangle(1, 1, 1))
print(is_a_triangle(1, 1, 3))
print(is_a_right_triangle(5, 3, 4))

In [ ]:
def is_a_triangle(a, b, c):
    return a + b > c and b + c > a and c + a > b


def is_a_right_triangle(a, b, c):
    if not is_a_triangle(a, b, c):
        return False
    if c > a and c > b:
        return c ** 2 == a ** 2 + b ** 2
    if a > b and a > c:
        return a ** 2 == b ** 2 + c ** 2


print(is_a_right_triangle(5, 3, 4))
print(is_a_right_triangle(1, 3, 4))

In [68]:
def is_a_triangle(a, b, c):
    return a + b > c and b + c > a and c + a > b


a = float(input('Enter the first side\'s length: '))
b = float(input('Enter the second side\'s length: '))
c = float(input('Enter the third side\'s length: '))

if is_a_triangle(a, b, c):
    print('Yes, it can be a triangle.')
else:
    print('No, it can\'t be a triangle.')

Enter the first side's length:  5
Enter the second side's length:  3
Enter the third side's length:  4

Yes, it can be a triangle.

In [ ]:
def is_a_triangle(a, b, c):
    return a + b > c and b + c > a and c + a > b


def heron(a, b, c):
    p = (a + b + c) / 2
    return (p * (p - a) * (p - b) * (p - c)) ** 0.5


def area_of_triangle(a, b, c):
    if not is_a_triangle(a, b, c):
        return None
    return heron(a, b, c)
a = float(input('Enter the first side\'s length: '))
b = float(input('Enter the second side\'s length: '))
c = float(input('Enter the third side\'s length: '))
print(area_of_triangle(a, b, c))

In [ ]:
def factorial_function(n):
    if n < 0:
        return None
    if n < 2:
        return 1
    
    product = 1
    for i in range(2, n + 1):
        product *= i
    return product

for n in range(1, 6):  # testing
    print(n, factorial_function(n))

In [ ]:
def fib(n):
    if n < 1:
        return None
    if n < 3:
        return 1

    elem_1 = elem_2 = 1
    the_sum = 0
    for i in range(3, n + 1):
        the_sum = elem_1 + elem_2
        elem_1, elem_2 = elem_2, the_sum
    return the_sum


for n in range(1, 10):  # testing
    print(n, "->", fib(n))

In [ ]:
def fib(n):
    if n < 1:
        return None
    if n < 3:
        return 1
    return fib(n - 1) + fib(n - 2)

for n in range(1, 10):  # testing
    print(n, "=>", fib(n))

In [122]:
def factorial_function(n):
    if n < 0:
        return None
    if n < 2:
        return 1
    return n * factorial_function(n - 1)

for n in range(1, 21):  # testing
    print(n, factorial_function(n))

1 1
2 2
3 6
4 24
5 120
6 720
7 5040
8 40320
9 362880
10 3628800
11 39916800
12 479001600
13 6227020800
14 87178291200
15 1307674368000
16 20922789888000
17 355687428096000
18 6402373705728000
19 121645100408832000
20 2432902008176640000

In [ ]:
def fun(a):
    if a > 30:
        return 3
    else:
        return a + fun(a + 3)


print(fun(25))

In [124]:
list1 = []
list1.append(1)
print(list1)

[1]

In [ ]:
list_1 = [1,2]
list_1.append(3)
print(list_1)

In [ ]:
list = (1,)
print(list)

In [ ]:
my_tuple = (1, 10, 100, 1000)

print(my_tuple[0])
print(my_tuple[-1])
print(my_tuple[1:])
print(my_tuple[:-2])

for elem in my_tuple:
    print(elem)

In [126]:
my_tuple = (1, 10, 100, 1000)
del my_tuple[0]
print(my_tuple)

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
my_tuple = (1, 10, 100)

t1 = my_tuple + (1000, 10000)
t2 = my_tuple * 3

print(len(t2))
print(t1)
print(t2)
print(100 in t1)
print(-10 not in my_tuple)

In [ ]:
t2

In [ ]:
var = 123

t1 = (1, )
t2 = (2, )
t3 = (3, var)

t1, t2, t3 = t2, t3, t1

print(t1, t2, t3)

In [72]:
dictionary = {"cat": "chat", "dog": "chien", "horse": "cheval"}
phone_numbers = {'boss': 5551234567, 'suzy': 22657854310}
empty_dictionary = {2:36}

print(dictionary)
print(phone_numbers)
print(empty_dictionary)

{'cat': 'chat', 'dog': 'chien', 'horse': 'cheval'}
{'boss': 5551234567, 'suzy': 22657854310}
{2: 36}

In [98]:
dictionary = {"cat": "chat", "dog": "chien", "horse": "cheval"}
phone_numbers = {'boss': 5551234567, 'suzy': 22657854310}
empty_dictionary = {2:36}

for key in sorted(dictionary.keys()):
    print(key)

cat
dog
horse

In [92]:
empty_dictionary.values()

dict_values([36])

In [7]:
def subtra(a,b):
    return a - b
subtra(5,4)

1

In [19]:
subtra(7,4)

3

In [25]:
def subtra(a,b):
    print(a - b)
subtra(5,4)

1

In [130]:
def subtra(a,b):
    return a-b

In [132]:
ret_res = subtra(19,5)
print(ret_res)

14

In [134]:
ret_res**2

196

In [77]:
def mul(x,y):
    print(x*y)

mul(4,5)

20

In [88]:
sub = mul(5,3)

15

In [90]:
sub

In [94]:
def mul(x,y):
    return x*y

mul(4,5)

20

In [98]:
sub = mul(5,3)

In [100]:
sub

15

In [102]:
def absolute(p):
    if p >= 0:
        return p
    else:
        return -p

In [106]:
absolute(-4)

4

In [136]:
def fac(z):
    if z < 0:
        return None
    if z < 2:
        return 1
    return z * fac(z-1)
z = int(input())
fac(z)

 12

479001600

In [154]:
fac(5)

120

In [138]:
def wlc(name):
    print("Hello", name)
name = str(input())
wlc(name)

 Ibu

Hello Ibu

In [188]:
wlc('joe')

Hello joe

In [190]:
def fnc():
    a = 83
    print(a)

In [231]:
fnc()

83

In [164]:
z = 5
def my_function():
    global z
    z = 8
    print(z)

In [166]:
my_function()

8

In [168]:
z

8

In [237]:
z = 5
def my_function1():
    global z
    z+=9
    print(z)

In [239]:
my_function1()

14

In [176]:
z = 5
def my_function1():
    global z
    z+=9
    print(z)

In [178]:
my_function1()

14

In [7]:
pi = 22/7
def peri_of_a_circle(r):
    return 2 * pi * r

In [9]:
peri_of_a_circle(7)

44.0

In [25]:
pi = 22/7
def peri_of_a_circle(r):
    return 2 * pi * r 
r = int(input("Enter the value of the radius: "))
peri_of_a_circle(r)

Enter the value of the radius:  7

43.96

In [33]:
pi = 3.14
def area_of_a_circle(r):
    return pi * r**2
r = int(input("Enter the value of the radius: "))
area_of_a_circle(r)

Enter the value of the radius:  20

1256.0

In [31]:
area_of_a_circle(20)

1256.0

In [37]:
pi = 3.14
def area_of_a_sphere(r):
    return 4 * pi * r**2
r = int(input("Enter the value of the radius: "))
area_of_a_sphere(r)

Enter the value of the radius:  4

200.96

In [39]:
pi = 3.14
def volume_of_a_sphere(r):
    return 4/3 * pi * r**3
r = int(input("Enter the value of the radius: "))
volume_of_a_sphere(r)

Enter the value of the radius:  4

267.94666666666666

In [41]:
volume_of_a_sphere(21)

38772.72

In [49]:
def even_number(z):
    if z % 2 == 0:
        print("Even number")
    if z % 2 != 0:
        print("Odd number")
z = int(input())
even_number(z)

 55

Odd number

In [51]:
def even_number(z):
    return z % 2 == 0

In [59]:
even_number(243)

False

In [67]:
def odd_number(z):
    return z % 2 != 0

In [69]:
odd_number(12)

False

In [30]:
def check_even_list(num_list):
    for i in num_list:
        if i % 2 == 0:
            return True
        else:
            pass
    return False

In [40]:
check_even_list([11,13,14,15,19])

True

In [35]:
def check_even_list(num_list):
    even_num = []
    for i in num_list:
        if i % 2 == 0:
            even_num.append(i)
        else:
            pass
    return even_num

In [180]:
check_even_list([12,13,14,15,16,24,78])

[12, 14, 16, 24, 78]

In [39]:
check_even_list([13,23,43,47,17])

[]

In [11]:
dictionary = {"cat": "chat", "dog": "chien", "horse": "cheval"}

for key in dictionary:
    print(key, "->", dictionary[key])

cat -> chat
dog -> chien
horse -> cheval

In [19]:
dic = {2:4, 3:5, 6:8, 7:9}
for i in dic.keys():
    print(i)

2
3
6
7

In [35]:
dictionary = {"cat": "chat", "dog": "chien", "horse": "cheval"}

for values in (dictionary.values()):
    print(values)

chat
chien
cheval

In [37]:
dictionary = {"cat": "chat", "dog": "chien", "horse": "cheval"}
for i, a in dictionary.items():
    print(i, "=>", a)

cat => chat
dog => chien
horse => cheval

In [39]:
print(dictionary)

{'cat': 'chat', 'dog': 'chien', 'horse': 'cheval'}

In [41]:
dictionary["dog"] = "chirp"
print(dictionary)

{'cat': 'chat', 'dog': 'chirp', 'horse': 'cheval'}

In [49]:
dictionary["void"] = "chip"
print(dictionary)

{'cat': 'chat', 'dog': 'chirp', 'horse': 'cheval', 'void': 'chip'}

In [51]:
dictionary.update({"duck": "canard"})
print(dictionary)

{'cat': 'chat', 'dog': 'chirp', 'horse': 'cheval', 'void': 'chip', 'duck': 'canard'}

In [53]:
print(dictionary)

{'cat': 'chat', 'dog': 'chirp', 'horse': 'cheval', 'void': 'chip', 'duck': 'canard'}

In [65]:
del dictionary["void"]
print(dictionary)

KeyError: 'void'

In [69]:
print(dictionary)

{'cat': 'chat', 'dog': 'chirp', 'duck': 'canard'}

In [71]:
dictionary.popitem()
print(dictionary)

{'cat': 'chat', 'dog': 'chirp'}

In [75]:
school_class = {}

while True:
    name = input("Enter the student's name: ")
    if name == '':
        break
    
    score = int(input("Enter the student's score (0-10): "))
    if score not in range(0, 11):
	    break
    
    if name in school_class:
        school_class[name] += (score,)
    else:
        school_class[name] = (score,)
        
for name in sorted(school_class.keys()):
    adding = 0
    counter = 0
    for score in school_class[name]:
        adding += score
        counter += 1
    print(name, ":", adding / counter)

Enter the student's name:  John
Enter the student's score (0-10):  9
Enter the student's name:  John
Enter the student's score (0-10):  8
Enter the student's name:  Sam
Enter the student's score (0-10):  7
Enter the student's name:  Babs
Enter the student's score (0-10):  9
Enter the student's name:  Sam
Enter the student's score (0-10):  10
Enter the student's name:  Babs
Enter the student's score (0-10):  9
Enter the student's name:  Vic
Enter the student's score (0-10):  12

Babs : 9.0
John : 8.5
Sam : 8.5

In [77]:
# Example 1
tuple_1 = (1, 2, 3)
for elem in tuple_1:
    print(elem)

# Example 2
tuple_2 = (1, 2, 3, 4)
print(5 in tuple_2)
print(5 not in tuple_2)

# Example 3
tuple_3 = (1, 2, 3, 5)
print(len(tuple_3))

# Example 4
tuple_4 = tuple_1 + tuple_2
tuple_5 = tuple_3 * 2

print(tuple_4)
print(tuple_5)

1
2
3
False
True
4
(1, 2, 3, 1, 2, 3, 4)
(1, 2, 3, 5, 1, 2, 3, 5)

In [79]:
my_tuple = tuple((1, 2, "string"))
print(my_tuple)

my_list = [2, 4, 6]
print(my_list) 56   # outputs: [2, 4, 6]
print(type(my_list))    # outputs: <class 'list'>
tup = tuple(my_list)
print(tup)    # outputs: (2, 4, 6)
print(type(tup))    # outputs: <class 'tuple'>

(1, 2, 'string')
[2, 4, 6]
<class 'list'>
(2, 4, 6)
<class 'tuple'>

In [81]:
dictionary = {"cat": "chat", "dog": "chien", "horse": "cheval"}
tup = tuple(dictionary)
print(tup)

('cat', 'dog', 'horse')

In [83]:
my_list = list(tup)
print(my_list)

['cat', 'dog', 'horse']

In [85]:
pol_eng_dictionary = {"kwiat": "flower","woda": "water","gleba": "soil"}

item_1 = pol_eng_dictionary["gleba"]    # ex. 1
print(item_1)    # outputs: soil

item_2 = pol_eng_dictionary.get("woda")
print(item_2)    # outputs: water

soil
water

In [87]:
phonebook = {}    # an empty dictionary

phonebook["Adam"] = 3456783958    # create/add a key-value pair
print(phonebook)    # outputs: {'Adam': 3456783958}

del phonebook["Adam"]
print(phonebook)    # outputs: {}

{'Adam': 3456783958}
{}

In [89]:
pol_eng_dictionary = {
    "zamek": "castle",
    "woda": "water",
    "gleba": "soil"
    }

for key, value in pol_eng_dictionary.items():
    print("Pol/Eng ->", key, ":", value)

Pol/Eng -> zamek : castle
Pol/Eng -> woda : water
Pol/Eng -> gleba : soil

In [95]:
pol_eng_dictionary = {
    "zamek": "castle",
    "woda": "water",
    "gleba": "soil"
    }
name = input()
if name in pol_eng_dictionary:
    print("Yes")
else:
    print("No")

 camel

No

In [101]:
pol_eng_dictionary.clear()
print(pol_eng_dictionary)

{}

In [103]:
pol_eng_dictionary = {
    "zamek": "castle",
    "woda": "water",
    "gleba": "soil"
    }

copy_dictionary = pol_eng_dictionary.copy()

In [105]:
print(copy_dictionary)

{'zamek': 'castle', 'woda': 'water', 'gleba': 'soil'}

In [107]:
tup = 1, 2, 3
a, b, c = tup

print(a * c)

3

In [115]:
tup = 1, 2, 3, 2, 4, 5, 6, 2, 7, 2, 8, 9
duplicates = tup.count(2)

print(duplicates)

4

In [123]:
d1 = {'Adam Smith': 'A', 'Judy Paxton': 'B+'}
d2 = {'Mary Louis': 'A', 'Patrick White': 'C'}
d3 = {}

for item in (d1, d2):
    d3.update(item)
print(d3)

{'Adam Smith': 'A', 'Judy Paxton': 'B+', 'Mary Louis': 'A', 'Patrick White': 'C'}

In [127]:
my_list = ["car", "Ford", "flower", "Tulip"]
t = tuple(my_list)
print(t)

('car', 'Ford', 'flower', 'Tulip')

In [129]:
colors = (("green", "#008000"), ("blue", "#0000FF"))
colors_dictionary = dict(colors)
print(colors_dictionary)

{'green': '#008000', 'blue': '#0000FF'}

In [131]:
colors = {
    "white": (255, 255, 255),
    "grey": (128, 128, 128),
    "red": (255, 0, 0),
    "green": (0, 128, 0)
    }

for col, rgb in colors.items():
    print(rgb, ":", col)

(255, 255, 255) : white
(128, 128, 128) : grey
(255, 0, 0) : red
(0, 128, 0) : green

In [133]:
colors = {
    "white": (255, 255, 255),
    "grey": (128, 128, 128),
    "red": (255, 0, 0),
    "green": (0, 128, 0)
    }

for col, rgb in colors.items():
    print(col, ":", rgb)

white : (255, 255, 255)
grey : (128, 128, 128)
red : (255, 0, 0)
green : (0, 128, 0)

In [1]:
help(None)

Help on NoneType object:

class NoneType(object)
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.